/*Main body css*/
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.flex-section{
    display: flex;
   
}
h1{
    font-family: ;
    font-size: 80px;
    color: gray;
    margin-bottom: 0;
    margin-top: 50px;
    margin: auto;
}
h2{
    font-size: 60px;
    color: green;
    margin-top: 0;
    margin-bottom: 20px;
}
h3{
    font-size: 15px;
    font-weight: 100;
}
span{
    color: tomato;
}
p{
    font-size: 20px;
    font-weight: 400px;
    width: 500px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: justify;
}
img{
    width: 500px;
    margin-top: 100px;    
}
/* All Button */
.all-button{
    text-decoration: none;
    margin-top: 20px;
    margin-bottom 500px;
    font-size: 15x;
    color: white;
    border-radius: 5px;
    background-image:linear-gradient(rgb(0, 162, 255), rgb(0, 102, 255));
    padding: 25px 70px;
    box-shadow: 5px 5px 15px rgb(158, 157, 160);
}
/* First section */
.first-section{
    margin: 200px;
    margin-left: 100px;
    margin-top: auto;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    width: 100%;  
}
.first-f1{
     border-left: 7px solid green;
     padding-left: 20px;

}
.first-div{
    width: 50%;
    margin: 100px;  
}
.first-div-image{
    width: 50%;  
}
/* Second Section*/
.second-section{
    margin: 200px;
    margin-bottom: 5px;
    margin-top: auto;
    background-repeat: no-repeat;  
}
.second-section-h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.second-section-parents-div{
    background- color: greenyellow;
    width: 100%;
}
.second-div{
    width: 70%;
    background-color: rgb(229, 231, 250);
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
}
.yellow{
    background-color: rgb(243, 243, 166);
}
.cyan{
    background-color: rgb(180, 248, 248);
}
.color-black{
    color: black;
    font-size: 35px;
}
.second-section-paragraph{
    width: auto;
}
.second-section-images{
    width: 200px;
    position: center;
    margin-top: auto;
}

}
/* Third Section */
.third-section{
    margin: 200px;
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-repeat: no-repeat;  
}
.third-div{
    width: auto;
    margin: 100px;
    margin-top: 200px;
}
.heading-size{
    color: rgb(73, 72, 72);
    font-size: 40px;
    margin-bottom: 10px;
}
.third-paragraph{
    width: auto;
    margin-right: 150px;
    margin-top: 20px;
}
.third-div-image{
    width: 30%;
    margin-left: 200px;
}
/* Fourth Section*/
.fourth-section{
    margin: 200px;
    margin-left: 100px;
    margin-top: auto;
    background-repeat: no-repeat;  
}
.fourth-div{
    width: 50%;
    margin: 100px;  
}
.fourth-paragraph{
    width: auto;
}
.fourth-div-image{
    width: auto;

}
/*form*/
form{
    background-color: rgb(199, 210, 226);
    width: 700px;
    position: center;
    height: auto;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: auto;
    display: block;
    padding: 50px;
    

}
.form-heading{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.text{
    margin: 20px;
    padding: 20px;
    width: 500px;
}
.email{
    margin: 20px;
    padding: 20px;
    width: 500px;
}
.number{
    margin: 20px;
    padding: 20px;
    width: 500px;
}
.message{
    margin: 20px;
    padding: 20px;
    width: 90%;
    height: 400px;
}
.submit{
    margin: 20px;
    padding: 20px;
    width: 500px;

}

/*footer*/
footer{
    display: block;
    background-color: rgb(5, 5, 5);
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    
}
.footer-heading{
    font-size: 40px;
}